.container {
  padding: 0.625rem;
  position: relative;
  min-height: 100vh;
}

.mobile-container {
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.313rem;
}

.desktop-container {
  display: none;
}

.search {
  background-color: #292929;
}

.row {
  width: 100%;
}

.col {
  margin: 0.625rem 0;
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  width: 100%;
}

.col-1 {
  width: 100%;
}

.col-4 {
  width: fit-content;
}

.post-info-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 0.625rem;
  margin: 0.625rem 0;
  height: 12.5rem;
}

label {
  margin: 0.625rem;
  font-weight: 600;
}

.label {
  width: fit-content;
  margin-bottom: 0.625rem;
}

.search-input {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 50rem;
  }

  div.mobile-container {
    display: none;
  }

  div.desktop-container {
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.313rem;
  }

  div.user-menu-container {
    width: 40%;
  }

  i.invalid-icon,
  i.valid-icon {
    font-size: 1.875rem;
  }

  .phoenix-logo {
    font-size: 1.563rem;
  }

  .col-4 {
    width: 25%;
  }

  .col-2 {
    width: 50%;
  }

  .image-post {
    padding-right: 0.625rem;
    margin-bottom: 1.25rem;
  }

  .text-post {
    padding-left: 0.625rem;
  }

  div.form-element {
    margin: 0.313rem 0 1.25rem 0;
  }

  div input {
    height: 3.125rem;
  }

  .modal-container > .row {
    justify-content: center;
  }

  .post-search-bar {
    justify-content: center;
    align-content: center;
  }

  .post-info-left,
  .post-info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-info-left {
    padding-right: 0.313rem;
  }

  .post-info-right {
    padding-left: 0.313rem;
  }

  .post-info-block-container {
    padding-right: 1.25rem;
  }

  a.post-item {
    width: 48%;
  }

  .post-list {
    justify-content: space-around;
  }
}
